quests/07_storage_GoogleSheets_loop.json
{
  "name": "07_storage_GoogleSheets_loop",
  "nodes": [
    {
      "parameters": {
        "formTitle": "기사 요약 및 한줄평",
        "formDescription": "기사 요약 및 한줄평",
        "formFields": {
          "values": [
            {
              "fieldLabel": "URL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1216,
        -432
      ],
      "id": "1d258d5b-32d9-4c08-a0e9-04d81ef6e294",
      "name": "On form submission",
      "webhookId": "5a74cfe6-49e9-42a6-a26d-609af94834d8"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA",
          "mode": "list",
          "cachedResultName": "sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 551129704,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit#gid=551129704"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        -432
      ],
      "id": "9c054f29-ae6e-4af2-85d7-8b42b38341c1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qsAuyT3IDYOmtglV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -432
      ],
      "id": "108665b2-b2a1-432f-81b8-f5d93e6c0bac",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18d6a944-3114-4c29-a687-d760a1dadbab",
              "name": "URL",
              "value": "={{ $('Get row(s) in sheet').item.json[\"분석 뉴스 기사 URL\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -416
      ],
      "id": "eca8c677-e39d-4fd5-99c1-2636dd296283",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json[\"분석 뉴스 기사 URL\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -432
      ],
      "id": "7ec20da7-68a4-49b2-b6c4-b9b7f7cc3340",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 정리의 신이야.\n정리 대상 기사를 읽고 정리해줘\n형식을 지켜줘\n  - 전체 응답은 반드시 유효한 JSON 객체여야 한다.\n  - 어떠한 설명이나 인사말, ```json 같은 마크다운 코드 블록 없이, 응답은 반드시 { 로 시작해서 `}` 로 끝나야 한다.\n**[출력 예시 구조 - JSON]**\n{\n  \"기사 제목\": TEXT,\n  \"100자내외 요약\": TEXT,\n  \"한줄평\": TEXT\n}\n[정리 대상 기사]\n{{ $json[\"기사URL\"] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        432,
        -416
      ],
      "id": "aafa503c-7da4-47b5-b84f-8e618b65ffdf",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "yUvPcJRkLaZpIQGu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e684a86b-5764-4af1-9832-d3ddd957ee11",
              "name": "content.parts[0].text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -416
      ],
      "id": "7e8e4b9e-2e47-4014-a19d-24dd685841e3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA",
          "mode": "list",
          "cachedResultName": "sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1997594722,
          "mode": "list",
          "cachedResultName": "Loops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit#gid=1997594722"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "뉴스명": "={{ $json.content.parts[0].text[\"기사 제목\"] }}",
            "문장요약": "={{ $json.content.parts[0].text[\"100자내외 요약\"] }}",
            "한줄평": "={{ $json.content.parts[0].text[\"한줄평\"] }}",
            "기사URL": "={{ $('Append or update row in sheet').item.json[\"기사URL\"] }}"
          },
          "matchingColumns": [
            "기사URL"
          ],
          "schema": [
            {
              "id": "기사URL",
              "displayName": "기사URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "뉴스명",
              "displayName": "뉴스명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "문장요약",
              "displayName": "문장요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        -416
      ],
      "id": "0aed7788-670e-487d-bb43-bbe0b9f70e7c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qsAuyT3IDYOmtglV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8393460352",
        "text": "={{ $json[\"뉴스명\"] }}{{ $json[\"문장요약\"] }}{{ $json[\"한줄평\"] }}{{ $json[\"기사URL\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        -416
      ],
      "id": "e1ff4b9b-c059-4911-91c6-4f1ed99c7a3a",
      "name": "Send a text message",
      "webhookId": "de43c971-c4d2-4995-a43c-dff456cc129c",
      "credentials": {
        "telegramApi": {
          "id": "lTPqbYoMequ4io06",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"google Email\"].join(\", \") }}",
        "subject": "Test] 루프  테스트입니다.",
        "emailType": "text",
        "message": "={{ $('Aggregate1').item.json[\"문장요약\"] ? String($('Aggregate1').item.json[\"문장요약\"]) : '' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        -64
      ],
      "id": "565828a8-3cfa-4cf2-9245-636d55465d0a",
      "name": "Send a message",
      "webhookId": "07e772ed-69f2-45a2-98ca-174656137738",
      "credentials": {
        "gmailOAuth2": {
          "id": "Rj3ZsyDu5ovaUysU",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI",
          "mode": "list",
          "cachedResultName": "Member_informations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15PSi6M5ssF-wcTMlC5ifEzl42g7iFld8CxvGtQasJdI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -64
      ],
      "id": "5f2cd5d6-05d7-475f-93e1-5152af3b624e",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qsAuyT3IDYOmtglV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "google Email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ],
      "id": "7004e1f4-5ce6-4e9d-9a11-52593c1bcae3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA",
          "mode": "list",
          "cachedResultName": "sample",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1997594722,
          "mode": "list",
          "cachedResultName": "Loops",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit#gid=1997594722"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "기사URL": "={{ $json.URL }}"
          },
          "matchingColumns": [
            "기사URL"
          ],
          "schema": [
            {
              "id": "기사URL",
              "displayName": "기사URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "뉴스명",
              "displayName": "뉴스명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "문장요약",
              "displayName": "문장요약",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "한줄평",
              "displayName": "한줄평",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        -416
      ],
      "id": "61bfc979-abf3-40b9-87a1-f0339607c93f",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qsAuyT3IDYOmtglV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "문장요약"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -816,
        -64
      ],
      "id": "1693eab0-a433-409f-974e-a2a6c38f5f67",
      "name": "Aggregate1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "URL": "https://docs.google.com/spreadsheets/d/1pmgPmrjFE-u_auqewmewL1mcE-mLFgvaz9DtbwyXpnA/edit?gid=551129704#gid=551129704",
          "submittedAt": "2025-10-22T17:32:52.180+09:00",
          "formMode": "test"
        }
      }
    ],
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "분석 뉴스 기사 URL": "https://m.sports.naver.com/wfootball/article/139/0002235205"
        }
      },
      {
        "json": {
          "row_number": 3,
          "분석 뉴스 기사 URL": "https://m.sports.naver.com/wfootball/article/410/0001095217"
        }
      },
      {
        "json": {
          "row_number": 4,
          "분석 뉴스 기사 URL": "https://www.khan.co.kr/article/202510212325001"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "10f13ae7-7408-4aa9-8026-28a70472d4e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e264b27a1bf7c94c957e20ec34104e2f1628f4efbfa997ecb6d9d1704efa76f"
  },
  "id": "Q1ruHtYJpym4mb01",
  "tags": []
}