quests/10_trigger_GoogleDrives_docs.json.json
{
  "name": "10_trigger_GoogleDrives_docs.json",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iWvlL2hIWioR-gRo2qT-0wcJwB97vbQ5",
          "mode": "list",
          "cachedResultName": "n8ns_triggers",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iWvlL2hIWioR-gRo2qT-0wcJwB97vbQ5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1bf8b3fd-37d0-45e4-a666-26357cc4128a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9WM8AQgklNhtNTRO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3c5e4a6-080d-40fc-aba8-6e208d1c54af",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/vnd.google-apps.spreadsheet",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "dac39fd8-c9ec-4221-9b20-e3f899372f87",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P5vASBuwSMq7gFqomtwPvNEVxmPeVvWWBu3zdAw1ckA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        96
      ],
      "id": "b65c63ee-b5fe-4dda-aab9-dcc44e5f8e5b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HHtUKURVH9DVIfub",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=분석 내용 한 줄로 정리\n{{ JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        832,
        96
      ],
      "id": "640d5b81-f25e-474d-a0c9-d73a9bd1165f",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "155Nng0zla4eywg1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1EYkh5DiyUi2rPBtfND8gVBquXms2MH_NOwsCv_bJ4Tc/edit?usp=drive_web&ouid=110125828211614980710",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYkh5DiyUi2rPBtfND8gVBquXms2MH_NOwsCv_bJ4Tc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "파일 종류": "={{ $('Google Drive Trigger').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('Google Drive Trigger').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "입력 날짜"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        96
      ],
      "id": "11ff5fee-07e1-4aba-b992-58d3353d18f8",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HHtUKURVH9DVIfub",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "주요 긍정 피드백"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        96
      ],
      "id": "bb2ac47b-ed60-4055-aabe-6326685874a5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1DhsZKSPoPEBZaR3hRiZawwxFaXUqit-k",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DhsZKSPoPEBZaR3hRiZawwxFaXUqit-k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1344,
        96
      ],
      "id": "9f4d8681-9351-44b9-af7e-08c70946683e",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9WM8AQgklNhtNTRO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        416,
        -96
      ],
      "id": "81f4baad-7f18-461c-839d-e81f10090d8a",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7dEvZljR7UOpREAW",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        624,
        -96
      ],
      "id": "7d4e256a-45aa-4dd7-ae92-a95b8ba618d7",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=결정사항 1줄 요약\n{{ $json.content[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        832,
        -96
      ],
      "id": "161db6b4-239e-4e26-afad-6afbaef742ad",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "155Nng0zla4eywg1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1EYkh5DiyUi2rPBtfND8gVBquXms2MH_NOwsCv_bJ4Tc",
          "mode": "list",
          "cachedResultName": "history_folder_triggers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYkh5DiyUi2rPBtfND8gVBquXms2MH_NOwsCv_bJ4Tc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYkh5DiyUi2rPBtfND8gVBquXms2MH_NOwsCv_bJ4Tc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "입력 날짜": "={{ $('Google Drive Trigger').item.json.createdTime }}",
            "한 줄 정리": "={{ $json.content.parts[0].text }}",
            "파일 종류": "={{ $('If').item.json.mimeType }}",
            "파일명": "={{ $('Google Drive Trigger').item.json.name }}",
            "파일 링크": "={{ $('If').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "입력 날짜"
          ],
          "schema": [
            {
              "id": "한 줄 정리",
              "displayName": "한 줄 정리",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "입력 날짜",
              "displayName": "입력 날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "파일 종류",
              "displayName": "파일 종류",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일명",
              "displayName": "파일명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "파일 링크",
              "displayName": "파일 링크",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -96
      ],
      "id": "67174975-efe8-4939-a9b8-4f5190c49971",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HHtUKURVH9DVIfub",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/1o6JL867sqkSvAp4PkM6wSwWvUn9JZUuZBVEelL8yw84/edit?tab=t.0#heading=h.npltv83cz8v9",
          "mode": "url"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1DhsZKSPoPEBZaR3hRiZawwxFaXUqit-k",
          "mode": "list",
          "cachedResultName": "n8ns_pasts",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1DhsZKSPoPEBZaR3hRiZawwxFaXUqit-k"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        -96
      ],
      "id": "d181f21f-039e-471a-a440-fbe6ecbe4d0c",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9WM8AQgklNhtNTRO",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6cf986a-d87e-4bdf-a7b5-314c7bddd28c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a11b109e521355ce138dcc9c539d7ecd9ad536d4e1b55d3f353b61d224d8c68"
  },
  "id": "Speyc47ylans39CY",
  "tags": []
}