quests/14_RPA_multimedias.json
{
  "name": "13_RPA_multimedias",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6656,
        -3568
      ],
      "id": "d2fd3ce7-4d35-4aad-8db7-53225ae70103",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6416,
        -3184
      ],
      "id": "6c85d065-dd9c-4a11-a21a-7847d21e1059",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5824,
        -3168
      ],
      "id": "dbd30a5d-792b-49f7-b828-5f918d7dd846",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -5728,
        -3440
      ],
      "id": "321bb1be-b986-4cff-b0e9-b01f56223306",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -6048,
        -2960
      ],
      "id": "50356eb4-5b05-40d8-a36b-b9215c14c67e",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=[prompt]\n너는 마케팅부서 고객센터에서 20년 동안 일한 베테랑 상담사야.\n\n아래 내용을 참고해서 자동 응답 회신 내용을 만들어줘\n\n\n참고 문의 내용에 있는 글 뿐만 아니라 다른 문의 내용에도 같은 내용으로 회신할 수 있는 일반화 된 자동응답 회신 내용을 만들어줘\n\n고객사명은 내용을 참고해서 너가 기입해줘\n\n[변경 사항]\n\n담당자 이름 Young_hu\n\n귀사 이름 Bread_who\n\n[필수로 들어가야 하는 항목]\n- 고객사명\n- 회의 일자\n- 작성자\n- 회의 플랫폼\n- 고객의 핵심 니즈\n- 니즈를 향한 개선 방향\n- 회의에 참여한 고객 현황\n- 회의에서 발견된 핵심 문제 요약\n- 회의에서 언급된 개선 영역\n- 자세한 제안 솔루션\n- 제작 및 수행 방식\n- 견적 및 예산\n- 추진 일정 및 to-do\n- 기대 효과\n- 회사 소개 및 수행 역량\n- 결론 및 제안 요약\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        -3904
      ],
      "id": "8c514e32-3ed8-409e-97d3-d39759076312",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -4336,
        -2816
      ],
      "id": "e2ffa7c5-cbd5-4273-b40c-1304f5a29fd1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6000,
        -3440
      ],
      "id": "b52866eb-dc99-4275-8090-919dfdaf60f5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5840,
        -2960
      ],
      "id": "a4f0289d-24ad-445c-a4e7-6e9cc100b1c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -5632,
        -2960
      ],
      "id": "3026e5c9-ef7e-419b-9463-c5d69706d090",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6448,
        -3664
      ],
      "id": "a9441436-aaf3-4d38-b194-2c1c55b78e95",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7216,
        -1872
      ],
      "id": "693913ee-225c-4d79-bca1-05f5d89e8505",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6800,
        -1872
      ],
      "id": "be00d347-37e2-4ea0-a294-26aa6718c061",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6272,
        -1856
      ],
      "id": "772aa8af-ff02-49a4-80dd-941aa6f74736",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5680,
        -1840
      ],
      "id": "6688b4ba-68e6-4a94-a025-06b69db04f71",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -5584,
        -2112
      ],
      "id": "3672c9f3-0e0a-4ffe-a79a-30d71c04aa6f",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5904,
        -1632
      ],
      "id": "d3efe80c-bfc8-4e07-9f5f-7d88ccaae5fa",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 20년간 녹취록을 기록한 사무관이야.\n\n다음 내용에 대하여 인원들이 회의를 했을 때의 녹취록을 만들어줘\n\n녹취록 기록 담당자는 Hu\n\n\n시간 기록도 해줘\n\n\n[출력 목적]\n이 회의 내용을 기반으로 고객에게 전달할 **공식 제안서 문서**를 생성한다.  \n문서는 고객이 바로 검토할 수 있는 형태로 만들어야 하며,  \n회의록의 “논의”, “결정사항”, “요구사항”, “금액”, “일정” 등을 반영해야 한다.\n\n\n[필수로 들어가야 하는 항목]\n- 고객사명\n- 회의 일자\n- 작성자\n- 회의 플랫폼\n- 고객의 핵심 니즈\n- 니즈를 향한 개선 방향\n- 회의에 참여한 고객 현황\n- 회의에서 발견된 핵심 문제 요약\n- 회의에서 언급된 개선 영역\n- 자세한 제안 솔루션\n- 제작 및 수행 방식\n- 견적 및 예산\n- 추진 일정 및 to-do\n- 기대 효과\n- 회사 소개 및 수행 역량\n- 결론 및 제안 요약\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -5904,
        -2416
      ],
      "id": "0b359f24-5874-4140-b051-cf95613b83e4",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        -4192,
        -1488
      ],
      "id": "711cc4e9-dc9a-4201-88f4-67fa22a7f004"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5856,
        -2112
      ],
      "id": "eb790e93-7a66-487f-9ea6-e1034995cc51",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5696,
        -1632
      ],
      "id": "0a6ad5c1-cb1c-479f-8981-7bbe325d5e33",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -5488,
        -1632
      ],
      "id": "b525e01b-2d78-4ec7-bb49-7ff4ccffb78c",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6592,
        -1968
      ],
      "id": "adca294c-bf27-485e-9d64-767a0bfa89c4",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7264,
        -656
      ],
      "id": "0f5c2a93-dcd5-4f58-b388-d58d3cc06a11",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6848,
        -656
      ],
      "id": "e549f222-05b1-4de1-b9a8-ea2c46d7f2d3",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -6320,
        -640
      ],
      "id": "e395a1d2-4b77-432b-b0bf-f1cb43e24509",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5728,
        -624
      ],
      "id": "8652b0b0-ea05-40a0-8ee4-48c6e8ef7e13",
      "name": "Get a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -5632,
        -896
      ],
      "id": "cde2afbc-6378-4774-9c58-9294405ac9ec",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items2').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -5952,
        -416
      ],
      "id": "81e718c7-033c-46e4-b191-7079129ba7b7",
      "name": "Get row(s) in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 20년간 녹취록을 기록한 사무관이야.\n\n\n\n내용을 참고해서 다음 회의에 대하여 인원들의 대화를 기록한 녹취록을 만들어주고,\n\n\n\n\n\n3줄 요약으로 결론 지어서 이메일로 누군가에게 전달하는 방식으로 만들어줘\n\n\n\n\n\n녹취록 기록 담당자는 Hu // 담당자 이메일 dudgn7715@gmail.com\n\n\n\nsheet형식 말고 markdown 코드블럭을 써서 편집기에 넣는 형식으로 주고, 출처표시는 다 지워주고 표는 만들지마\n\n\n\n시간 기록도 해줘\n\n\n\n[녹취록에 들어가야 할 내용]\n\n - 회의명(안건)\n\n - 일시 및 장소(플랫폼)\n\n - 참석자 및 역할\n\n - 시간대별 발언 내용\n\n - 회의록 작성자\n\n - 주요 논의 사항\n\n - 클라이언트의 요구사항\n\n - 결정된 사항\n\n - 결정된 콘텐츠 및 금액\n\n - 향후 계획 및 to-do\n\n\n\n[결론에 들어가야 할 필수적인 내용]\n\n\n\n- 결정된 컨텐츠 이름과 그것에 대해 책정된 금액\n\n\n\n- client의 요구사항\n\n\n\n- 회의로 인해 결정된 사항\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -5952,
        -1200
      ],
      "id": "efdf9d3e-5f88-4f4e-b8d5-e90b10e8e81e",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me2",
      "typeVersion": 1,
      "position": [
        -4240,
        -272
      ],
      "id": "df854d07-8732-47a3-9b5c-683bf74f7b80"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -5904,
        -896
      ],
      "id": "56c3564b-5023-4c88-84e5-a4bedfec10a5",
      "name": "Download file2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5744,
        -416
      ],
      "id": "3cfd63f4-7b9f-439c-b950-fa3c7856d633",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -5536,
        -416
      ],
      "id": "39db1438-4928-450a-8a02-18498f0aba38",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -6640,
        -752
      ],
      "id": "e29359b4-7bb1-46d6-ad63-cd67c0c568c7",
      "name": "Aggregate5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2768,
        -3312
      ],
      "id": "984cfd65-1805-41bd-81df-cf04d55e02f2",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2352,
        -3312
      ],
      "id": "a1e04f28-c3b3-445d-a08b-24b384d68486",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1824,
        -3296
      ],
      "id": "84aeca5e-f5b9-4b85-a774-b7f979f22722",
      "name": "Switch3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1232,
        -3280
      ],
      "id": "853ec7c2-b3ff-4912-81ce-19f4ce78e8f9",
      "name": "Get a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1136,
        -3552
      ],
      "id": "63317260-119d-44cb-9127-f6726f6ceb08",
      "name": "Extract from File3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items3').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        -3072
      ],
      "id": "ec3944a4-9546-419a-843e-1518686c631d",
      "name": "Get row(s) in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 프로덕션에서 8년동안 기획 및 연출을 보조하던 프로덕션 조감독이야.\n\n내용 보고 영상 기획안을 만들어줘\n\n내가 제시하는 항목들을 다 넣어서 작성\n\n\n\n[필수 요소]\n\n- 클라이언트 회사명 및 브랜드명\n\n- 클라이언트 요구사항\n\n\n\n[기획안에 들어가야할 항목]\n\n- 영상 컨셉\n\n- 장소 컨셉 및 추천 장소\n\n- 모델 컨셉 및 추천 모델(가상 혹은 실제인물 추천 가능, 가상이라면 AI 프롬프트 제시)\n\n- 예상 촬영 시간 및 날짜\n\n- 시간에 따른 영상 촬영 순서 콘티 및 타임테이블\n\n- 실제 촬영에 필요한 팀들의 각 콜타임\n\n- 준비 가능한 제품의 개수 및 제품의 사진\n\n- 클라이언트의 요구사항을 따랐을 때의 기획안과 따르지 않았을 때의 기획안 각각 제시\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1456,
        -3856
      ],
      "id": "b969df81-37ad-4b21-bec2-e8bc6c123326",
      "name": "Message a model3",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me3",
      "typeVersion": 1,
      "position": [
        256,
        -2928
      ],
      "id": "cc2fe159-2b54-40f9-896e-bdbf5f8c13f5"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1408,
        -3552
      ],
      "id": "8ba10a51-f039-44b9-81bf-951eda289745",
      "name": "Download file3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        -3072
      ],
      "id": "ec4b63a6-f806-4140-a6e0-a8009308b8c2",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1040,
        -3072
      ],
      "id": "ac4e5df3-d575-48b7-9ea1-68256b144a73",
      "name": "Aggregate6"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2144,
        -3408
      ],
      "id": "ff4f6ba7-5bfb-4253-98e8-e671b7025b1e",
      "name": "Aggregate7"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2752,
        -2096
      ],
      "id": "1217fd0f-152f-4777-bcb6-4f09a335c037",
      "name": "Schedule Trigger4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2336,
        -2096
      ],
      "id": "d51d63a6-04dc-42ee-868d-43f300dc28bb",
      "name": "Loop Over Items4"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1808,
        -2080
      ],
      "id": "f1aea3be-16e2-444a-b8d2-e66bd2c1eeb1",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1216,
        -2064
      ],
      "id": "6a72e4f5-f328-4f8d-905c-82f3115b39a0",
      "name": "Get a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1120,
        -2336
      ],
      "id": "dcf0e56d-02c1-455f-b972-9d75d555ae22",
      "name": "Extract from File4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items4').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1440,
        -1856
      ],
      "id": "47e80519-1675-4f47-aaf0-15b5d6bf3fae",
      "name": "Get row(s) in sheet4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 프로덕션에서 8년동안 기획 및 연출을 보조하던 프로덕션 조감독이야.\n위 링크를 보고 영상 기획안을 만들어줘\n내가 제시하는 항목들을 다 넣어서 작성.\n\n[필수 요소]\n- 클라이언트 회사명 및 브랜드명\n- 클라이언트 요구사항\n\n[기획안에 들어가야할 항목]\n- 영상 컨셉 및 조명 컨셉(톤앤매너)\n- 장소 컨셉 및 추천 장소와 각 장소의 시간별 대여비\n- 모델 컨셉 및 추천 모델(가상 혹은 실제인물 추천 가능, 가상이라면 AI 프롬프트 제시, 실제 인물은 모델비 작성)\n- 프로덕션 일정\n- 예상 촬영 시간 및 날짜 (날씨 체크)\n- 시간에 따른 영상 촬영 순서 콘티 및 타임테이블\n- 실제 촬영에 필요한 팀들의 각 콜타임 \n- 실제 촬영에 필요한 각 팀들에게 요구할 장비 및 인원 구성\n- 준비 가능한 제품의 개수 및 제품의 사진\n- 클라이언트의 요구사항을 따랐을 때의 기획안과 따르지 않았을 때의 기획안 각각 제시\n- 예산 배분\n- 지표 예상 및 목표\n- 리스크 관리\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1440,
        -2640
      ],
      "id": "17fd5a24-0051-4dd3-984b-bd6b52ec3188",
      "name": "Message a model4",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me4",
      "typeVersion": 1,
      "position": [
        272,
        -1712
      ],
      "id": "76fb9787-cb3f-4b9d-8d15-3095bf9420da"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1392,
        -2336
      ],
      "id": "27f79f8c-ab57-4f32-a436-f36e367e7d14",
      "name": "Download file4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -1856
      ],
      "id": "24748f9f-d9c1-4f8c-b052-e2bdbf1d746b",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1024,
        -1856
      ],
      "id": "335cd999-7caf-4b77-bd7b-1966ae928eb8",
      "name": "Aggregate8"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2128,
        -2192
      ],
      "id": "fb0c21b2-6b21-40cc-9c27-00bccfc04fbf",
      "name": "Aggregate9"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1HiLv33vmVLnqJR-AcMuEwPtUBk-5AbSh",
            "mode": "list",
            "cachedResultName": "triggers",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1HiLv33vmVLnqJR-AcMuEwPtUBk-5AbSh"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -6864,
        -3568
      ],
      "id": "f7516936-13c8-4aa7-8b1f-e882cf9d791e",
      "name": "email",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7072,
        -3568
      ],
      "id": "19ed51e1-cfc6-4294-87ca-dab100713fbf",
      "name": "scheduler"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1B05VDYiSrY1MlHiFHJdFOUM-Y4pOvMeK",
            "mode": "list",
            "cachedResultName": "자동 응답 회신",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1B05VDYiSrY1MlHiFHJdFOUM-Y4pOvMeK"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7008,
        -1872
      ],
      "id": "d80795cc-a381-4843-b94d-1208b5d8e2b2",
      "name": "mail communication",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2832,
        -560
      ],
      "id": "6c9f3df6-0c0c-4403-a66f-e5b89610fb1e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2416,
        -560
      ],
      "id": "690b8b6e-3b06-4409-8722-a069be12460b",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d708a767-c1df-4dfe-811d-d868074e483d",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "text/tab-separated-values",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "132bb44d-dcc6-4c6d-84c8-c2c312755924"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d604e016-301a-4b14-ac62-0cb8ba6a1039",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1888,
        -544
      ],
      "id": "a5a16397-696e-4dd8-bea1-48e7a08e8496",
      "name": "Switch5"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1296,
        -528
      ],
      "id": "669017f6-da77-4f95-9ed2-81ae8e1eb06b",
      "name": "Get a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1200,
        -800
      ],
      "id": "56d11799-2a75-408a-b90f-481367ed7f8a",
      "name": "Extract from File5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items5').item.json.id }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1520,
        -320
      ],
      "id": "4f3a49ad-c6cf-457b-9edc-c7a8936d9658",
      "name": "Get row(s) in sheet5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jhRDiJe26kymg6uh",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=너는 20년 경력의 기업 제안서 작성 전문가이자 마케팅 전문가야.   \n내용을 분석하여 고객 제안서를 작성해줘. \n제안서 담당자는 Hu \n\n\n[출력 목적]\n이 회의 내용을 기반으로 고객에게 전달할 **공식 제안서 문서**를 생성한다.  \n문서는 고객이 바로 검토할 수 있는 형태로 만들어야 하며,  \n회의록의 “논의”, “결정사항”, “요구사항”, “금액”, “일정” 등을 반영해야 한다.\n\n[출력 형식]\n \n섹션별 제목은 한글로 작성한다. \n[필수로 들어가야 하는 항목]\n- 고객사명\n- 회의 일자\n- 작성자\n- 회의 플랫폼\n- 고객의 핵심 니즈\n- 니즈를 향한 개선 방향\n- 회의에 참여한 고객 현황\n- 회의에서 발견된 핵심 문제 요약\n- 회의에서 언급된 개선 영역\n- 자세한 제안 솔루션\n- 제작 및 수행 방식\n- 견적 및 예산\n- 추진 일정 및 to-do\n- 기대 효과\n- 회사 소개 및 수행 역량\n- 결론 및 제안 요약\n\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        -1136
      ],
      "id": "e4ec5f5d-ab98-4294-bb87-6e187dc6e32a",
      "name": "Message a model5",
      "credentials": {
        "googlePalmApi": {
          "id": "9Sr2gKytxfRmOW0u",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me5",
      "typeVersion": 1,
      "position": [
        192,
        -176
      ],
      "id": "34c4813f-2add-407f-ab6c-ad322844f245"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1472,
        -800
      ],
      "id": "8fad3041-bc93-41e4-8f66-bab46ae3db43",
      "name": "Download file5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "294a4bea-cf6a-4a37-8a08-1cbe62aee57b",
              "name": "row_merge",
              "value": "={{ $json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        -320
      ],
      "id": "71ca2b40-9926-4317-b247-06f24052ed50",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "row_merge",
              "renameField": true,
              "outputFieldName": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1104,
        -320
      ],
      "id": "e308c361-225b-45c0-a1b5-1e3c7dfb90fd",
      "name": "Aggregate10"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2208,
        -656
      ],
      "id": "7fb9c3ec-ece8-4000-bbd9-111025deca4f",
      "name": "Aggregate11"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1fnODCe0irhzfFXoKHDZ1BHk8Bzhrm9Wk",
            "mode": "list",
            "cachedResultName": "meeting",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1fnODCe0irhzfFXoKHDZ1BHk8Bzhrm9Wk"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -7056,
        -656
      ],
      "id": "a95fb34b-9e20-43ea-8729-017f338848d5",
      "name": "meeting",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1gTJMqrkaxBExFGPeyismTRxfw7oAdbJZ",
            "mode": "list",
            "cachedResultName": "녹취 전달",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1gTJMqrkaxBExFGPeyismTRxfw7oAdbJZ"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2560,
        -3312
      ],
      "id": "26c72093-b061-4c60-8f9e-576fd06625ab",
      "name": "action item",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1ZNHxiOM_13VemeXaJPOyxd0l-HoIW4p0",
            "mode": "list",
            "cachedResultName": "영상 기획안",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1ZNHxiOM_13VemeXaJPOyxd0l-HoIW4p0"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2544,
        -2096
      ],
      "id": "8a1344ee-a4f9-43fc-8a9b-2c76b3044880",
      "name": "report1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1qYe9-Ow_KLRK7_L0hR61e10SQYizobwF",
            "mode": "list",
            "cachedResultName": "기획안 심화",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1qYe9-Ow_KLRK7_L0hR61e10SQYizobwF"
          }
        },
        "options": {
          "fields": [
            "name",
            "mimeType",
            "webViewLink",
            "id"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2624,
        -560
      ],
      "id": "3a6328ca-50db-46b2-b007-9651a694c9b1",
      "name": "data",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1B05VDYiSrY1MlHiFHJdFOUM-Y4pOvMeK",
        "title": "메일 회신"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5552,
        -3904
      ],
      "id": "9cdc31bc-dee1-41de-8124-808ca4093418",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1fnODCe0irhzfFXoKHDZ1BHk8Bzhrm9Wk",
        "title": "메일 취합 녹취록"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5456,
        -2448
      ],
      "id": "b5693d53-921f-4e37-930d-2b99702904dc",
      "name": "Create a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "영상 기획안\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3104,
        -3312
      ],
      "id": "48d4c53c-b66c-403c-91d4-4d610cc8c4da",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "메일 응대 내용 ",
        "height": 192,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7440,
        -3552
      ],
      "id": "365a6947-5efc-47d9-a2bd-77c5e032611a",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "회의록\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7536,
        -1856
      ],
      "id": "f42d3f29-b215-4a4b-ba4c-9dbe4e56f5d1",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "회의록 전달\n\\"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7600,
        -672
      ],
      "id": "18b309d3-4002-41e9-ab33-f6e3a01929cb",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "영상 기획안 심화\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3088,
        -2128
      ],
      "id": "84df3a95-d291-4629-a9c0-01728402a7c3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "고객 제안서 작성\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3184,
        -736
      ],
      "id": "1354c97d-93cf-4b3f-b002-136f9d4133b0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "=https://docs.google.com/document/d/1u_eRCO4182FJzRwUovasWzuk31oPw0iusVL2LLNY9ws/edit?tab=t.0",
          "mode": "url"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1B05VDYiSrY1MlHiFHJdFOUM-Y4pOvMeK",
          "mode": "list",
          "cachedResultName": "자동 응답 회신",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1B05VDYiSrY1MlHiFHJdFOUM-Y4pOvMeK"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4624,
        -3904
      ],
      "id": "d0ca8d47-6e72-4c70-bf01-9a8311a5e2c3",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5344,
        -3904
      ],
      "id": "ca42ceaa-135b-44dd-b6b5-c37dc8171a02",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model1').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5232,
        -2464
      ],
      "id": "5b61dde8-3e1c-4784-bf1e-2ec0758693e4",
      "name": "Update a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1gTJMqrkaxBExFGPeyismTRxfw7oAdbJZ",
        "title": "녹취록 전달"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5280,
        -1200
      ],
      "id": "8d8602b0-d5d1-42ce-b241-3fe30136d901",
      "name": "Create a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model2').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -5056,
        -1216
      ],
      "id": "4630f167-836d-4cc4-8e80-5e5c57b816c6",
      "name": "Update a document2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1ZNHxiOM_13VemeXaJPOyxd0l-HoIW4p0",
        "title": "영상 기획안"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -944,
        -3808
      ],
      "id": "c611164a-8edc-47e7-a55f-7d016b16cb4f",
      "name": "Create a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model3').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -736,
        -3808
      ],
      "id": "372393bc-71af-4810-86b6-4d5fc28875cf",
      "name": "Update a document3",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1qYe9-Ow_KLRK7_L0hR61e10SQYizobwF",
        "title": "영상 기획안"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -848,
        -2640
      ],
      "id": "12c36d38-d210-459f-ad8d-adcbc3eba720",
      "name": "Create a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model4').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -640,
        -2640
      ],
      "id": "48684b0e-6818-47d7-aacd-2df0ede6d773",
      "name": "Update a document4",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "=1KUnqpFZdra8oMfDJC1mYIlLNsBy48a1i",
        "title": "영상 기획안"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -688,
        -1024
      ],
      "id": "8a34208e-8b7c-4793-9b09-aa0256f2aa27",
      "name": "Create a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Message a model5').item.json.content.parts[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -480,
        -1024
      ],
      "id": "b5cc3add-0907-4bed-af76-7d592c5657db",
      "name": "Update a document5",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "i5sNpBhnl8JLDwOh",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "content": "일괄 삭제\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        -3680
      ],
      "id": "a6d6db95-82fd-4619-9d00-ae234df88ea3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1568,
        -3552
      ],
      "id": "c40fed6d-d9bd-4116-b563-0543ff45f85e",
      "name": "Schedule Trigger5"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1NCTlQg6oHxq2GotUhvgDbAVDQeImuQ3Y",
            "mode": "list",
            "cachedResultName": "과제 files",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1NCTlQg6oHxq2GotUhvgDbAVDQeImuQ3Y"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        -3552
      ],
      "id": "ca089753-f66c-41b6-a835-cbf9cbb6e78b",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "v5ule65WkUKoxD-B_Mmt",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "11ePFsEj0DM7gD0FJK83yvA-DQCNra0xp",
          "mode": "list",
          "cachedResultName": "delete folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/11ePFsEj0DM7gD0FJK83yvA-DQCNra0xp"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1984,
        -3552
      ],
      "id": "48f01732-d7a4-420b-8460-e64049d9adb9",
      "name": "Move file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PheHKkjohFUCk7oH",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "content": {
            "parts": [
              {
                "text": "물론입니다. 마케팅부서 고객센터에서 20년간 수많은 고객의 문의를 응대하며 쌓아온 노하우를 담아, 어떤 문의에도 전문성과 신뢰감을 줄 수 있는 자동 응답 회신 내용을 작성해 드리겠습니다.\n\n---\n\n### **[자동 응답 회신 템플릿]**\n\n**제목: [Bread_who] 보내주신 광고 캠페인 문의에 대한 회신 드립니다.**\n\n**[고객사명] [담당자명]님께,**\n\n안녕하십니까.\n귀사의 소중한 문의에 깊은 감사를 드립니다. 저는 Bread_who 마케팅부서 고객센터의 **Young_hu**입니다.\n\n보내주신 [문의 유형: 예) 신제품 론칭 캠페인] 관련 문의 내용은 담당 부서에 전달하여 꼼꼼하게 검토하였습니다. 귀사의 비전과 목표에 깊이 공감하며, 성공적인 파트너가 될 수 있다는 확신을 가졌습니다.\n\n저희는 문의 내용을 바탕으로 귀사의 니즈와 해결 과제를 다음과 같이 파악하였습니다.\n\n**1. 문의 내용 사전 분석 및 이해**\n\n*   **고객사명:** [고객사명]\n*   **고객의 핵심 니즈:** [핵심 니즈 요약: 예) 신제품의 단기간 내 폭넓은 인지도 확보 및 브랜딩 강화]\n*   **현재 직면한 문제:** [핵심 문제 요약: 예) 전통 매체(TV, 라디오 등) 광고 기획 및 집행 경험 부족으로 인한 전략 수립, 콘텐츠 제작, 매체 운영의 어려움]\n*   **기대하는 개선 영역:** [개선 영역 요약: 예) 데이터 기반의 최적화된 미디어 믹스 전략 수립, 제품의 프리미엄 가치를 전달할 고품질 광고 콘텐츠 제작, 복잡한 매체 집행 과정의 전문적인 관리]\n\n**2. 성공적인 캠페인을 위한 미팅 제안**\n\n귀사의 목표 달성을 위한 최적의 솔루션을 제안 드리기 위해, 보다 심도 깊은 논의를 나누는 공식 미팅을 제안합니다. 미팅을 통해 아래 항목들을 구체적으로 논의하고, 귀사만을 위한 맞춤형 실행 계획을 함께 수립하고자 합니다.\n\n*   **회의 일자:** **다음 주 중 편하신 2~3개의 후보 시간을 회신**해 주시면 신속히 조율하겠습니다.\n*   **회의 플랫폼:** **화상 회의(Zoom/Google Meet) 또는 방문 미팅** 모두 가능합니다. 원하시는 방식을 알려주십시오.\n*   **주요 논의 안건:**\n    *   **(자세한 제안 솔루션)** 귀사의 니즈에 최적화된 통합 미디어 전략 및 솔루션 제안\n    *   **(제작 및 수행 방식)** TV CF, 라디오 CM 등 구체적인 제작 방향성과 수행 방식 협의\n    *   **(견적 및 예산)** 공유해주신 초기 예산 내에서 최대 효율을 낼 수 있는 세부 견적 및 예산 분배 방안\n    *   **(추진 일정 및 To-Do)** 캠페인 론칭 목표일까지의 상세 추진 일정 및 초기 실행 과제(To-Do List) 수립\n    *   **(기대 효과)** 설정하신 KPI 달성을 위한 구체적인 성과 측정 및 분석 방법론 논의\n\n**3. Bread_who 회사 소개 및 수행 역량**\n\n저희 **Bread_who**는 다년간 수많은 기업의 브랜드 캠페인을 성공적으로 이끌어 온 종합 광고 에이전시입니다. 특히 전통 매체와 디지털 매체를 아우르는 통합 미디어 전략과 크리에이티브 콘텐츠 제작 역량은 업계 최고 수준이라 자부합니다. 귀사의 브랜드 가치를 가장 효과적으로 시장에 전달할 준비가 되어 있습니다.\n\n**결론 및 제안 요약**\n\n요약하자면, 저희는 귀사가 직면한 과제를 명확히 이해했으며, 이를 해결할 전문성과 실행력을 갖추고 있습니다. 제안 드리는 미팅을 통해 성공적인 캠페인을 위한 구체적인 청사진을 함께 그려나가길 기대합니다.\n\n가능한 미팅 일정을 회신해 주시면, 미팅 전 필요한 사전 자료와 함께 다시 연락드리겠습니다.\n\n귀사의 연락을 기다리겠습니다.\n\n감사합니다.\n**Young_hu** 드림\n\n**Bread_who** | 마케팅부서 고객센터\nT. 02-123-4567 | E. young_hu@breadwho.com\n\n---\n\n### **[위 템플릿을 '더 어반 십' 문의에 적용한 예시]**\n\n**제목: [Bread_who] 더 어반 십 신제품 론칭 캠페인 문의에 대한 회신 드립니다.**\n\n**더 어반 십 박서준 팀장님께,**\n\n안녕하십니까.\n귀사의 소중한 문의에 깊은 감사를 드립니다. 저는 Bread_who 마케팅부서 고객센터의 **Young_hu**입니다.\n\n보내주신 '스파클링 아이스티' 신제품 론칭 캠페인 관련 문의 내용은 담당 부서에 전달하여 꼼꼼하게 검토하였습니다. 귀사의 비전과 목표에 깊이 공감하며, 성공적인 파트너가 될 수 있다는 확신을 가졌습니다.\n\n저희는 문의 내용을 바탕으로 귀사의 니즈와 해결 과제를 다음과 같이 파악하였습니다.\n\n**1. 문의 내용 사전 분석 및 이해**\n\n*   **고객사명:** 더 어반 십 (The Urban Sip)\n*   **고객의 핵심 니즈:** 신제품 '스파클링 아이스티'의 단기간 내 폭넓은 인지도 확보 및 2040 직장인 타겟 공략\n*   **현재 직면한 문제:** 전통 매체(TV, 라디오, 잡지) 광고 기획 및 집행 경험 부족으로 인한 전략 수립, 콘텐츠 제작, 매체 운영의 어려움\n*   **기대하는 개선 영역:** 데이터 기반의 최적화된 미디어 믹스 전략 수립, 제품의 프리미엄 가치를 전달할 고품질 광고 콘텐츠(TV CF, 라디오 CM송) 제작, 복잡한 매체 집행 과정의 전문적인 관리\n\n**2. 성공적인 캠페인을 위한 미팅 제안**\n\n귀사의 목표 달성을 위한 최적의 솔루션을 제안 드리기 위해, 보다 심도 깊은 논의를 나누는 공식 미팅을 제안합니다. 미팅을 통해 아래 항목들을 구체적으로 논의하고, 귀사만을 위한 맞춤형 실행 계획을 함께 수립하고자 합니다.\n\n*   **회의 일자:** **다음 주 중 편하신 2~3개의 후보 시간을 회신**해 주시면 신속히 조율하겠습니다.\n*   **회의 플랫폼:** **화상 회의(Zoom/Google Meet) 또는 방문 미팅** 모두 가능합니다. 원하시는 방식을 알려주십시오.\n*   **주요 논의 안건:**\n    *   **(자세한 제안 솔루션)** '더 어반 십' 브랜드에 최적화된 통합 미디어 전략 및 솔루션 제안\n    *   **(제작 및 수행 방식)** TV CF, 라디오 CM송 등 구체적인 제작 방향성과 수행 방식 협의\n    *   **(견적 및 예산)** 공유해주신 초기 예산(2억 원) 내에서 최대 효율을 낼 수 있는 세부 견적 및 예산 분배 방안\n    *   **(추진 일정 및 To-Do)** 캠페인 론칭 목표(내년 2월)까지의 상세 추진 일정 및 초기 실행 과제(To-Do List) 수립\n    *   **(기대 효과)** 설정하신 KPI(수도권 내 브랜드 인지도 30% 상승) 달성을 위한 구체적인 성과 측정 및 분석 방법론 논의\n\n**3. Bread_who 회사 소개 및 수행 역량**\n\n저희 **Bread_who**는 다년간 수많은 F&B 브랜드의 론칭 캠페인을 성공적으로 이끌어 온 종합 광고 에이전시입니다. 특히 전통 매체와 디지털 매체를 아우르는 통합 미디어 전략과 크리에이티브 콘텐츠 제작 역량은 업계 최고 수준이라 자부합니다. '더 어반 십'의 브랜드 가치를 가장 효과적으로 시장에 전달할 준비가 되어 있습니다.\n\n**결론 및 제안 요약**\n\n요약하자면, 저희는 귀사가 직면한 과제를 명확히 이해했으며, 이를 해결할 전문성과 실행력을 갖추고 있습니다. 제안 드리는 미팅을 통해 성공적인 캠페인을 위한 구체적인 청사진을 함께 그려나가길 기대합니다.\n\n가능한 미팅 일정을 회신해 주시면, 미팅 전 필요한 사전 자료와 함께 다시 연락드리겠습니다.\n\n귀사의 연락을 기다리겠습니다.\n\n감사합니다.\n**Young_hu** 드림\n\n**Bread_who** | 마케팅부서 고객센터\nT. 02-123-4567 | E. young_hu@breadwho.com"
              }
            ],
            "role": "model"
          },
          "finishReason": "STOP",
          "index": 0
        }
      }
    ],
    "Create a document": [
      {
        "json": {
          "kind": "drive#file",
          "id": "15jJMQxqnc6JOn3N3imfMeRXNYTk4EhDd2vgTMtHSalw",
          "name": "메일 회신",
          "mimeType": "application/vnd.google-apps.document"
        }
      }
    ],
    "Update a document": [
      {
        "json": {
          "documentId": "15jJMQxqnc6JOn3N3imfMeRXNYTk4EhDd2vgTMtHSalw"
        }
      }
    ],
    "Aggregate1": [
      {
        "json": {
          "content": [
            "제목: [광고 문의] 신제품 론칭 관련 종합 광고 캠페인 문의 (더 어반 십)\n받는사람: contact@yourmedia.com\n안녕하세요.\n프리미엄 음료 브랜드 '더 어반 십(The Urban Sip)'의 마케팅팀장 박서준입니다. 귀사의 온라인 인포그래픽을 인상 깊게 보고, 저희 신제품 론칭 캠페인을 성공적으로 이끌어주실 최적의 파트너라는 생각이 들어 연락드렸습니다.\n저희는 내년 1분기, 2040 직장인을 타겟으로 하는 '스파클링 아이스티' 라인을 새롭게 론칭할 계획입니다. 지금까지는 주로 SNS 중심의 디지털 마케팅에 집중해왔으나, 이번 신제품은 단기간에 폭넓은 인지도를 확보하는 것이 중요하다고 판단하여 TV, 라디오, 잡지 등 전통 매체를 활용한 대대적인 캠페인을 기획하게 되었습니다.\n하지만 내부적으로 전통 매체 광고를 기획하고 집행해 본 경험이 부족하여 다음과 같은 어려움을 겪고 있습니다.\n매체 선정의 어려움: 한정된 예산 안에서 타겟 고객에게 가장 효과적으로 도달할 수 있는 최적의 미디어 믹스(TV, 라디오, 인쇄)를 구성하는 데 어려움이 있습니다.\n콘텐츠 제작의 한계: 제품의 프리미엄 이미지를 효과적으로 전달할 고품질의 TV CF 및 라디오 CM송 제작에 대한 전문성이 부족합니다.\n복잡한 집행 과정: 매체별 광고 단가 협상 및 스케줄링 등 복잡한 과정을 효율적으로 관리할 전문 인력이 필요합니다.\n귀사의 전문성을 통해 아래와 같은 목표를 달성하고 싶습니다.\n통합 미디어 전략 수립: 저희 제품과 타겟에 맞는 최적의 매체 포트폴리오 제안\nTV CF 영상 제작: 30초 분량의 TV 광고 영상 기획 및 제작 (Standard Package 수준)\n라디오 광고 제작: 제품의 특징을 살린 20초 분량의 라디오 CM송 제작\n인쇄 광고 집행: 주요 라이프스타일 매거진 및 경제지에 광고 게재\n이번 캠페인의 초기 예산은 제작비를 포함하여 총 2억 원 정도로 생각하고 있습니다. 12월부터 본격적인 준비에 착수하여 내년 2월에 캠페인을 시작하는 것을 목표로 하고 있으며, 캠페인 후 수도권 내 브랜드 인지도를 30% 이상 끌어올리는 것이 저희의 KPI입니다.\n다음 주 중 괜찮으신 시간에 방문 또는 화상 미팅을 통해 더 구체적인 논의를 나눌 수 있기를 희망합니다. 저희 제품 소개서와 함께 회신드리겠습니다.\n감사합니다.\n박서준 드림\n더 어반 십 (The Urban Sip) 마케팅팀 / 팀장 T. 02-345-6789 M\n\n\n",
            "\n종합 미디어 에이전시 서비스 가격 정책 안내인포그래픽 : https://gemini.google.com/share/f84aee14a6b5\n저희는 TV, 라디오, 인쇄 매체 전반에 걸친 깊이 있는 전문성과 실행력을 바탕으로 고객의 성공적인 캠페인을 위한 최상의 파트너가 되어 드립니다. 본 가격 정책은 표준화된 가이드를 제공하며, 모든 서비스는 고객의 구체적인 목표와 예산에 맞춰 최적의 맞춤형 견적으로 제공됩니다.\n1. 광고 매체 집행 서비스\n매체 집행 비용은 매체의 영향력, 도달률, 시간대, 지면 크기 등에 따라 유동적으로 책정됩니다.\n1.1 TV 광고\n산정 기준: 채널(지상파/케이블/종편), 시간대(프라임/A/B/C급), 광고 길이(15초/20초/30초), 계약 기간 및 송출 횟수에 따라 비용이 산정됩니다.\n예상 비용 (30초 기준, 1회)\n지상파 프라임 타임 (20:00-23:00): 1,500만 원 ~ 2,500만 원\n종합편성채널 프라임 타임: 800만 원 ~ 1,800만 원\n케이블 TV 인기 채널: 300만 원 ~ 900만 원\n지역 방송: 100만 원 ~ 400만 원\n* 패키지(월/분기) 계약 시 특별 할인율이 적용됩니다.\n1.2 라디오 광고\n산정 기준: 채널(주요/지역), 시간대(출퇴근/주간/심야), 광고 길이(20초/30초), 제작(CM송 유무) 및 송출 횟수에 따라 비용이 산정됩니다.\n예상 비용 (20초 기준, 1회)\n주요 채널 출퇴근 시간대: 50만 원 ~ 150만 원\n주요 채널 주간 시간대: 20만 원 ~ 60만 원\n지역 채널 출퇴근 시간대: 15만 원 ~ 40만 원\n* 장기 계약 및 다수 채널 동시 집행 시 할인 혜택을 제공합니다.\n1.3 인쇄 매체 (신문/잡지) 광고\n산정 기준: 매체 종류(전국 일간지/경제지/스포츠지/월간지), 지면 위치(표지/내지), 광고 크기(전면/9단/5단 등), 컬러(Color/흑백)에 따라 비용이 결정됩니다.\n예상 비용 (1회 기준)\n주요 전국 일간지 전면 컬러: 2,000만 원 ~ 5,000만 원\n주요 경제지 5단 21cm 흑백: 500만 원 ~ 1,200만 원\n주요 월간지 내지 전면 컬러: 400만 원 ~ 1,000만 원\n* 연간 계약 또는 시리즈 광고 집행 시 우대 가격이 적용됩니다.\n2. 광고 콘텐츠 제작 서비스\n콘텐츠 제작은 기획의 복잡성, 촬영/녹음 규모, 후반 작업의 난이도에 따라 비용이 책정됩니다.\n2.1 TV CF 영상 제작\nBasic (1,500만 원 ~ 3,000만 원)\n포함: 기본 기획, 1일 실내 촬영, 기본 편집 및 2D 자막, 성우 녹음\n대상: 중소기업 제품/서비스 소개, 프로모션 영상\nStandard (3,000만 원 ~ 8,000만 원)\n포함: 전문 기획, 2~3일 촬영(야외/스튜디오), 전문 모델 섭외, 3D 그래픽, 전문 편집 및 색 보정\n대상: 기업 브랜딩, 주력 상품 TVC\nPremium (8,000만 원 이상)\n포함: 최고 수준의 기획(유명 감독/작가), 연예인 모델 섭외, 해외 로케이션, 특수 촬영(드론/고속), VFX\n대상: 대기업 이미지 광고, 대규모 캠페인\n2.2 라디오 광고 제작\n음성형 (50만 원 ~ 150만 원): 전문 성우 1~2인 녹음, 기본 배경음악 및 효과음\nCM송형 (200만 원 ~ 500만 원): 작곡/작사, 전문 보컬 섭외, 녹음 및 믹싱 포함\n2.3 인쇄 광고 디자인\n단순 시안 (50만 원 ~ 150만 원): 기본 이미지 및 텍스트 기반 디자인, 2회 수정\n고급 시안 (200만 원 ~ 500만 원): 전용 사진 촬영 또는 일러스트 제작 포함, 카피라이팅, 3회 이상 수정\n3. 통합 마케팅 컨설팅 및 캠페인 관리\n단순 집행을 넘어, 성공적인 캠페인을 위한 전략 수립부터 성과 분석까지 통합 솔루션을 제공합니다.\n3.1 프로젝트 기반 컨설팅\n비용: 500만 원부터 (프로젝트 규모 및 기간에 따라 협의)\n서비스: 시장 분석, 타겟 설정, 매체 전략 수립(Media Mix), 크리에이티브 방향성 제시, 캠페인 성과 측정 및 보고서 제공\n3.2 월간 리테이너 서비스\n비용: 월 300만 원부터\n서비스: 지속적인 미디어 환경 분석 및 트렌드 리포트 제공, 상시 광고 전략 자문, 매체 집행 최적화 관리\n진행 절차 및 견적 문의\n무료 상담: 캠페인 목표, 타겟, 예산 등 기본 정보 파악\n전략 제안: 맞춤형 매체 및 제작 전략, 상세 견적서 전달\n계약 및 실행: 계약 체결 후 광고 제작 및 매체 집행 진행\n성과 보고: 캠페인 종료 후 결과 분석 및 인사이트 보고\n정확한 견적은 귀사의 구체적인 상황과 목표를 바탕으로 한 심층 상담 후에 제공됩니다. 언제든 편하게 문의해 주시기 바랍니다.\n문의처: 02-123-4567\n이메일: contact@yourmedia.com\n\t\n\n"
          ]
        }
      }
    ]
  },
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "mail communication",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Aggregate5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Replace Me2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate5": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "action item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Aggregate7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document3": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File3": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Create a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Extract from File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate6": {
      "main": [
        [
          {
            "node": "Replace Me3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate7": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "report1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items4": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document4": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File4": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Create a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me4": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Extract from File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate8": {
      "main": [
        [
          {
            "node": "Replace Me4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scheduler": {
      "main": [
        [
          {
            "node": "email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mail communication": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [
          {
            "node": "Aggregate11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Download file5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a document5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File5": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me5": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file5": {
      "main": [
        [
          {
            "node": "Extract from File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate10": {
      "main": [
        [
          {
            "node": "Replace Me5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate11": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "meeting": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action item": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "report1": {
      "main": [
        [
          {
            "node": "Loop Over Items4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document1": {
      "main": [
        [
          {
            "node": "Update a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document2": {
      "main": [
        [
          {
            "node": "Update a document2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document3": {
      "main": [
        [
          {
            "node": "Update a document3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document4": {
      "main": [
        [
          {
            "node": "Update a document4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document5": {
      "main": [
        [
          {
            "node": "Update a document5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger5": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Move file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0756870d-3426-468b-9ad0-38e7b45fba7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e08aab7d0c825806177056341986e8f0cd7c0349082593bf1853cb0302a6900"
  },
  "id": "01wr9iGV8V4oPy38",
  "tags": []
}