quests/15_send_email_inbulk.json
{
  "name": "14_send_email_inbulk",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        32
      ],
      "id": "b24a5e58-73e9-455d-beb3-b37d65bd377b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1p9B1d1IBVSvDf16XUYVuZUZ_5T7DWfzoE9IN_0ttRGk",
          "mode": "list",
          "cachedResultName": "gmail 대상 email",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1p9B1d1IBVSvDf16XUYVuZUZ_5T7DWfzoE9IN_0ttRGk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -720,
        -32
      ],
      "id": "8941e70a-58fd-4c9a-89e0-9175f6349467",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pEU8maTAHYPFNGCr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['이메일 주소'] }}",
        "subject": "={{ $('Download file').item.json.name }}",
        "emailType": "text",
        "message": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1696,
        -48
      ],
      "id": "b1fbdc90-e1d6-45ca-82d7-c91f7cf0d54e",
      "name": "Send a message",
      "webhookId": "45b316b5-970d-4d8c-b45c-b5db25bac285",
      "credentials": {
        "gmailOAuth2": {
          "id": "kCaiAbie4g57lMdk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1A67zNPEYvVFzApmJMcaR0caVJIJObT9X",
            "mode": "list",
            "cachedResultName": "gmail files",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1A67zNPEYvVFzApmJMcaR0caVJIJObT9X"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -272,
        -112
      ],
      "id": "136aae0f-75a8-4096-86e0-495d4167ceff",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C8wF0okAqqcPS1ri",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        576,
        -48
      ],
      "id": "c6e582f2-971b-45b5-be35-862f7e2d85eb",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -64
      ],
      "id": "0526d7cc-6fcf-428e-8bdd-e9abd4714112",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C8wF0okAqqcPS1ri",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1424,
        -48
      ],
      "id": "22c6e5b7-4678-41c1-be46-d0d32d08f267",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1168,
        -48
      ],
      "id": "37e57069-51b7-419d-afbc-9d7b62a3d56f",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        784,
        -48
      ],
      "id": "ee6f28c8-a63f-40a1-9d8e-31b2538aa3a4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1920,
        -16
      ],
      "id": "ffce6b16-5c70-4400-95d4-3a016cd14de2"
    },
    {
      "parameters": {
        "sendTo": "dudgn7715@gmail.com",
        "subject": "전송 완료",
        "message": "전송 완료",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        -272
      ],
      "id": "082989cf-c82d-46a4-94ed-c03574db2d38",
      "name": "Send a message1",
      "webhookId": "4425daf0-6fb0-4bb2-a079-619568433402",
      "credentials": {
        "gmailOAuth2": {
          "id": "kCaiAbie4g57lMdk",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bf4ee2d0-dbbb-4e88-b92e-48d62fb10a10",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a77498b1f068d01142623b92d01a13e68b9d77835bd250f2fe179663935ac0cb"
  },
  "id": "v6sybfWWjZ1CCU9c",
  "tags": []
}