codes/01_Action_node_EditField.json
{
  "name": "01_Action_node_EditField",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "34de9e79-f743-4e8a-b5ac-e57563f4f48f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "cfbf8a74-2784-4bef-9c95-8aa83daf96d5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7430e4fb-30e2-436f-b012-329b5783e87b",
              "name": "quote",
              "value": "={{ $json.q }}",
              "type": "string"
            },
            {
              "id": "e9d2de9a-2f76-431f-ad6a-e6bd419af179",
              "name": "help",
              "value": "={{ $json.h }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "e39a9904-e57e-4b41-aee4-f9913cc616c3",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e61dd3c-8e36-45de-a84c-d0a8a3189046",
  "meta": {
    "instanceId": "9e264b27a1bf7c94c957e20ec34104e2f1628f4efbfa997ecb6d9d1704efa76f"
  },
  "id": "Ir0ypPbBbdtaZemZ",
  "tags": []
}